<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="COMP1004_W2017_Lesson9.Properties.Settings.comp1004namesConnectionString"
            connectionString="Data Source=comp1004-w2017.database.windows.net;Initial Catalog=comp1004names;Persist Security Info=True;User ID=thomas;Password=Georgian2017!"
            providerName="System.Data.SqlClient" />
        <add name="COMP1004_W2017_Lesson9.Properties.Settings.comp1004_w2017ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=comp1004-w2017;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>